<section class="flex justify-center mt-6 px-3">
  <div class="w-full shadow-2">
    <div class="grid align-items gap-4">
      <!-- Avatar -->
      <div class="col-12 md:col-4 flex justify-center">
        <!-- <p-avatar image="assets/avatar.jpg" size="xlarge" shape="circle" class="shadow-3" /> -->
      </div>

      <!-- Texte -->
      <div class="col-12 md:col-8">
        <h1 class="text-3xl font-bold mb-2">Étienne Dumai</h1>

        <p class="text-lg text-600 mb-3">
          Étudiant en BUT Informatique — développement web & logiciel
        </p>

        <p class="line-height-3 mb-4">
          Je conçois des applications web modernes avec Angular et Laravel, en mettant l’accent sur
          la qualité du code, les performances, une architecture propre et une automatisation des
          tâches. Intéressé par le développement logiciel, les systèmes et le backend.
        </p>

        <!-- Skills rapides -->
        <div class="flex gap-2 mb-4">
          <p value="Angular" severity="info"></p>
          <p value="TypeScript" severity="info"></p>
          <p value="Laravel" severity="success"></p>
          <p value="Docker"></p>
          <p value="PostgreSQL"></p>
        </div>

        <!-- Actions -->
        <div class="flex flex-wrap gap-3">
          <a href="https://github.com/EtienneDumai" class="flex justify-center align-items cursor-pointer">
            <button
              class="flex-1 bg-white border-2 border-black rounded-full px-4 py-1.5 text-sm font-bold  transition-colors cursor-pointer hover:shadow-md">
              <i class="fa-brands fa-github"></i>
              Github
            </button>
          </a>
          <a href="https://www.linkedin.com/in/etienne-dumai/" class="flex justify-center align-items cursor-pointer">
            <button
              class="flex-1 bg-blue-600 border-2 border-blue-300 rounded-full px-4 py-1.5 text-sm font-bold text-white  transition-colors cursor-pointer hover:shadow-md">
              <i class="fa-brands fa-linkedin"></i>
              Linkedin
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
