@if (this.listProjet.length !== 0) {
  <div class=" flex grid gap-6 [grid-template-columns:repeat(auto-fit,minmax(260px,1fr))] mt-5 justify-center">
        @for (projet of this.listProjet; track projet.id) {

    <div class="rounded-xl p-4">
      <app-project-card
        [id]="projet.id"
        [nom]="projet.nom"
        [description]="projet.description"
        [date_debut]="projet.date_debut"
        [date_fin]="projet.date_fin"
        [status]="projet.status"
        [type]="projet.type"
        [stack]="projet.stack"
        [roles]="projet.roles"
        [imageUrl]="projet.imageUrl"
        [lienGithub]="projet.lienGithub"
        [lienDemo]="projet.lienDemo"
      />

    </div>
    }
    
  </div>
}
