@import "tailwindcss";

@source "../src";
/* tes styles perso en dessous */
:root {
    /* Fond de page plus aéré */
    --bg-primary: #2b2626; 
    /* Cartes en blanc pur pour le contraste */
    --bg-surface: #A294F9;
    /* Texte principal plus doux que le noir pur */
    --text-primary: #5b21b6;
    /* Texte secondaire (sous-titres, dates) */
    --text-secondary: #CDC1FF;
    /* Indigo vibrant pour les éléments d'action */
    --accent: #5b21b6;
    --hover-accent: #4c1d95;
    /* Bordure subtile */
    --border-color: #ddd6fe;
}
body {
    background-color: var(--bg-primary);
}